* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-repeat: no-repeat;
    background: linear-gradient(-45deg, red, orange, blue, rgb(2, 1, 35));
    background-size: 400% 400%;
    width: 100%;
    height: 100%;
    animation: back-effect 12s ease infinite;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.flex-container
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.center{
    margin: 3% auto;
}

#searchbar{
    display: flex;
    height: 3em;
    width: 30em;
    background: #fff;
    border: 1px solid #094c0a;
    box-shadow: none;
    text-align: center;
    border-radius: 24px;
    margin: 0 auto;
    max-width: 584px;
}


@keyframes back-effect{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.button{
    padding: 3pt;
    background: #fff;
    border: 1px solid #094c0a;
    border-radius: 18px;
}

.button:hover{
    border-style: double;
    border: 2px solid;
    border-color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.299);
}

.effetto-testo{
    background: -webkit-linear-gradient(-45deg, orange, red, blue, rgb(2, 1, 35));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: back-effect 12s ease infinite;;
}

#title{
    font-size: 30pt;
    text-decoration: line-through;
}

.text-result{
    font-size: 16pt;
    color: aquamarine;
}